.title {
    margin: 0;
    text-decoration: none;
    padding-bottom: 3px;
    text-align: center;
}

.link {
    color: var(--main-color);
    
}

.link:hover {
    color: var(--main-color-hover);
}

.list {    
    padding: 0;
    text-align: center;
}